/*
* @Author: Theo Lemaire
* @Date:   2017-08-17 19:07:50
* @Last Modified by:   Theo Lemaire
* @Last Modified time: 2020-02-14 14:12:08
*/


/* Body
-----------------------------------------*/

body {
	background-color: rgb(250, 250, 250);
}

p {
	text-align: justify;
	text-justify: inter-word;
}

/* Header & Footer
-----------------------------------------*/

#header {
	width: 100%;
	margin-bottom: 0em;
}

#header-middle {
    float: none;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

.header-side {
	display: inline-block;
	height: 5em;
}

#header-left {
	float: left;
}

#header-right {
	float: right;
}

.header-txt {
	margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.logo {
	height: 90%;
	margin: 0 auto;
	float: right;
}

#footer {
	width: 100%;
	margin: 0;
	text-align: center;
}

.separator {
	width: 100%;
	padding: 1px 1px;
	margin: 0;
}


/* Content
-----------------------------------------*/

#content {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

.content-column {
    float: left;
    width: 100%;
    padding: 0;
}

@media (min-width:60em){
    #left-col {
    	width: 35em;
    }
    #right-col {
    	width: calc(100% - 35em);
    }
}

@media (min-width:100em){
    #content {
    	width: 100em;
    }
}


/* Panel
-----------------------------------------*/

.panel {
	padding: 0em 1em 0.5em 1em;
	margin: 0.5em;
	background-color: white;
    box-shadow: 2px 2px 5px #888888;
}

#status-bar {
	padding: 0em 1em 0.5em 1em;
	margin: 0.5em;
}

summary {
	outline: none;
	cursor: pointer;
}

.panel-title {
	font-size: 2.2rem;
	line-height: 1.5;
	letter-spacing: -.05rem;
	margin-bottom: 0.6rem;
	margin-top: 0.6rem;
}


/* Tabs
---------------------------------------- */

.custom-tabs-container {
    /*width: 85%;*/
}

.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #f9f9f9;
    padding: 0px 24px;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    color:#586069;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #fafbfc;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #e36209 !important;
}


/* Tables
---------------------------------------- */

.table {
	width: 100%;
	text-align: center;
	padding-top:0;
}

.table-row {
	padding:0;
	margin: 0;
	height: 1em;
}

.row-label {
	width: 30%;
}

.row-slider{
	width: 50%;
	padding: 0px;
}

.row-value{
	width: 20%;
}

.slider {
	margin-top: 0.2em;
	height: 0.2em;
}


/* Lists
-----------------------------------------*/

li {
	margin: 0.3em;
	font-size: small;
}

.ddlist {
	margin-bottom: 0.5em;
}


/* Graph
-----------------------------------------*/

.graph-div {
    width: 100%;
    padding-top: 0.5em;
}

.graph {
	height: 14em;
}


#download-wrapper {
	text-align: center;
	width: 100%;
}


/* Submit callbacks
-----------------------------------------*/

@keyframes redflash {
    0% {background-color: red;}
    100% {background-color: white;}
}


#about-link {
	text-decoration: underline black;
}

#about-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}